{
  "presets": [["@babel/preset-env"]],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/transform-runtime",
      {
        "regenerator": true
      }
    ],
    "dynamic-import-webpack"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"],
      "sourceMaps": "inline",
      "retainLines": true
    }
  }
}
