{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "security",
    "unicorn",
    "promise",
    "istanbul",
    "jsdoc"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:security/recommended-legacy",
    "plugin:unicorn/recommended",
    "plugin:jsdoc/recommended",
    "plugin:json/recommended-legacy",
    "prettier"
  ],
  "env": {
    "browser": false,
    "node": true
  },
  "globals": {
    "Promise": true
  },
  "rules": {
    "istanbul/no-ignore-file": "error",
    "istanbul/prefer-ignore-reason": "error",
    "promise/no-callback-in-promise": "off",
    "security/detect-object-injection": "off",
    "unicorn/no-array-reduce": "off",
    "unicorn/explicit-length-check": [
      "error",
      {
        "non-zero": "not-equal"
      }
    ],
    "unicorn/prefer-node-protocol": "off",
    "@typescript-eslint/no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }]
  },
  "overrides": [
    {
      "files": ["src/test/**", "cucumber.js"],
      "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.dev.json"
      },
      "plugins": [
        "@typescript-eslint",
        "chai-friendly",
        "security",
        "unicorn",
        "promise",
        "istanbul",
        "jsdoc"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:chai-friendly/recommended",
        "plugin:security/recommended-legacy",
        "plugin:unicorn/recommended",
        "plugin:jsdoc/recommended",
        "plugin:json/recommended-legacy",
        "prettier"
      ],
      "globals": {
        "expect": true,
        "PendingError": true
      },
      "rules": {
        "@typescript-eslint/no-unused-vars": "warn",
        "@typescript-eslint/no-explicit-any": "warn",
        "security/detect-non-literal-fs-filename": "off",
        "jsdoc/require-jsdoc": "off",
        "security/detect-object-injection": "off",
        "unicorn/no-array-callback-reference": "off",
        "unicorn/prefer-node-protocol": "off",
        "unicorn/prefer-module": "off"
      }
    },
    {
      "files": ["scripts/**"],
      "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
      },
      "rules": {
        "unicorn/prefer-top-level-await": "off"
      }
    }
  ]
}
